.weight-toggle {
    
    width:122px;
    height: 53px;
    
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    font: 16px/24px Lato, Verdana, Arial, sans-serif;
    text-align: center;
    position: relative;
    
    
}
/*
.weight-toggle.active {
    
    border: 2px solid #f3f3f3;
    border-bottom-width: 0;
    
}
*/

.weight-toggle span {
    
    margin-top: 3px;
    display: block;
    position: absolute;
    width: 100%;
    color: #fff;
}

.weight-toggle .active-indicator {
   position: absolute;
    left: 2px;
    bottom: 2px;
	width: 96%;
	height: 2px;
	
    

}

.weight-toggle.active .active-indicator {
  background-color: #fff;   
}

.slider {
    display: block;
    width: 100px;;
    height: 11px;
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    position: relative;
    top: 31px;
    border-radius: 5px;
    cursor:pointer;
}

#close-mainNav {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    text-transform: none;
    padding: 5px;
    bottom: -29px;
        border-radius: 0 0 8px 8px;
    right: 42.5%;
    right: -webkit-calc(50% - 45px);
    right:         calc(50% - 45px);
    width: 90px;
    display: none;
    margin: 0;
}

.closed #close-mainNav {
    display: block;
}

.unstack-slider {
    display: block;
    width: 33px;
    height: 16px;
    background-color: #41B976;
    margin: auto;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    bottom: -3px;
}
.unstack-slider.off {
     background-color: #9E142E;
}
$unstack-td {
    position: relative;
}

#unstack-td span {
    font-family: Lato, Verdana, Arial, sans-serif;
    color: #706E69;
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    
    display: block;
    width: 72px;
    margin-bottom: -21px;
    bottom: 19px;
    right: 7px;
}

.hide-slider {
    opacity: 0;
}

.slider-center {
    display: block;
    width: 100%;
    height: 1px;
    background-color: magenta;
    margin: 15px auto;
    position: relative;
    top: 5px;
}




.slider-notches {
    position: absolute;
    display: block;
    width: 1px;
    background-color: #fff;
    height: 11px;
}

.notch-0 {
    left:9%;
}

.notch-1 {
    left:22.6666%;
}

.notch-2 {
    left:36.3333%;
}

.notch-3 {
    left:50%;
}

.notch-4 {
    left:63.6666%;
}

.notch-5 {
    left:77.3333%;
}

.notch-6 {
    left:91%;
}


.slider-selector {
    display: block;
    height: 18px;
    
    width: 36px;position: relative;
    left: 33px;
    bottom: 3px;
    cursor: ew-resize;
    
}

.slider-selector-inner, .unstack-slider .slider-selector {
    display: block;
    position: absolute;
    left: 8px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: -1px;
    
    
}

.unstack-slider .slider-selector {
    left:14px;
    bottom:-2px ;
    cursor: pointer;
    transition: left 0.2s linear;
}


.unstack-slider.off .slider-selector {
    left:-1px;
}


.jump-selector {
    
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, left;
    
}

.weight-toggle span a {
    color: #fff;
    text-decoration: underline;
    
}

.weight-toggle span a:hover, .weight-toggle.active span a {
    text-decoration: none;
    
}
.weight-toggle.active span a {
    cursor: default;
}

.weights-instruct {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: 4px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s linear;
    
}

.reset-weight {
    text-decoration: underline; 
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    transition: opacity 0.5s linear;
    opacity: 0;
    display: none;
}

.reset-weight a {
    color: #f3f3f3 !important;
    font-size: 13px;
    cursor:default;
    
    
}


.weighted-component .reset-weight {
   opacity:1;
 
}
.weighted-component .reset-weight a {
       cursor: pointer;
}
.weighted-component .weights-instruct, .weighted-override .weights-instruct {
    opacity: 0;
}

.reset-weight.weighted-override {
    opacity: 0 !important;
}

.slider-selector.active-selector .slider-selector-inner {
    background-color: rgba(29,69,76,0.8);
}

.cdi-header-wrapper {
    
    background: black;
}

/*.better-than-previous-processed td:nth-child(3) {
    background-color: #b9e4b9 !important;
    
}

.worse-than-previous-processed td:nth-child(3) {
    background-color: #e8b9b9 !important;
}*/

#home-cdi tr td:first-child, #home-cdi-indicator tr td:first-child  {
    width:70px;
}

#home-cdi-indicator tr.master-row td:first-child {
    padding-left: 50px;
    width: 40px;
    text-align: left;
}

#home-cdi tr td:nth-child(2), #home-cdi-indicator tr td:nth-child(2)  {
    width:115px;
    
}

#home-cdi-indicator {
    margin-right: 30px;
    margin-left: 4px;
    float: left;
    width: 50%;
    min-width: 400px;
    transition: width 0.5s linear;
}

tr.master-row td:first-child::before, tr.master-row td:nth-child(3)::before {
    position: absolute;
    transition: color .7s ease-in-out;
    color: transparent;
    content: ' ';
    left: 7px;
    top: 8px;
    
}

.change-score td:nth-child(3)::before {
    left:15px !important;
}





.better-rank td:first-child::before, .better td:nth-child(3)::before {
    content: '↑' !important;
    
    
}

tr.master-row.better-rank.processed td:first-child::before, tr.master-row.better.processed td:nth-child(3)::before  {
    color: #41B976;
}

.worse-rank td:first-child::before, .worse td:nth-child(3)::before {
    content: '↓' !important;
      
}

tr.master-row.worse-rank.processed td:first-child::before, tr.master-row.worse.processed td:nth-child(3)::before {
  
    color: #9E142E;
    
}

.small-rank-change td:first-child::before, .small-score-change td:nth-child(3)::before  {
    opacity: 0.5;
}

.medium-rank-change td:first-child::before, .medium-score-change td:nth-child(3)::before {
    opacity: 0.75;
}

.large-rank-change td:first-child::before, .large-score-change td:nth-child(3)::before {
    opacity: 1;
}

/*.original-score {
    position: absolute;
    left: 47px;
    top:10px;
}*/

.original-score {
    color:transparent;
    transition: color .7s ease-in-out;
}

.original-rank {
    transition: color .7s ease-in-out;
    color: #3b342b;
    position: relative;
    left:30px;
}

.new-rank {
    transition: color .7s ease-in-out;
    color: transparent;
    position: absolute;
    left: 20px;
    
}

tr.master-row.processed .new-rank {
    color: #3b342b;
}

tr.master-row.processed .original-rank, tr.master-row.processed .original-value {
    color: #aaa;
}

.original-rank.locked {
    color: #aaa !important;
}


 
/*
span.os, span.ns {
    position: absolute;
    
    transition: top 0.4s linear;
}

.os {
   top: 0px; 
}

.ns-better {
    top: -30px;
}

.ns-worse {
    top:30px;
}

.ns-processed {
    top: 0px;
}

.os-worse-processed {
    top:30px;
}

.os-better-processed {
    top:-30px;
}
*/
.cdi-header-wrapper {
    background: url(../images/home-hero.png);
    background-size: cover;
    padding: 40px 0;
    color: #FFF;
}
.cdi-header-wrapper h1 {
  font-size: 44px;
  max-width: 400px;
  width:100%;
}
.cdi-header-wrapper p {
  font-size: 20px;
}
.cdi-header
 {
    max-width: 980px;
    width:98%;
    padding: 0 1%;
    margin: 0 auto;
}
.dev-cdi {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    max-width:  980px;
}

#new_cdi #home-cdi {
  width: 50%;
    margin-left: 4px;
    transition: width 0.5s linear;
  
}

#new_cdi #home-cdi.home-processed {
    width: 99%;
    margin-left: 4px;
    width: -webkit-calc(100% - 8px);
    width:         calc(100% - 8px);
}


#new_cdi table thead {
  border-bottom: 2px solid #333;
  font-weight: bold;
}
#new_cdi table thead td {
  padding: 10px 0;
  text-align: center;
  color: #006B77;
  text-transform: uppercase;
}
/*#new_cdi table thead td:first-child {
  width: 92px;
}*/



#new_cdi table tr.master-row {
  border-right: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    
  background-color:#f3f3f3;    
}

#new_cdi table tr.master-row:first-child {
  border-top: none;
}
#new_cdi table tr.master-row.active {
  border-bottom: none;
    border: 1px solid #bdbdbd;
    border-bottom-color: #fff;
    background-color: #fff;
}
#new_cdi table tr.master-row td{
  padding: 10px 0;
}
#new_cdi table tbody tr:not(.master-row) {
  display: none;
}

#new_cdi table tbody tr.info, #new_cdi table tbody tr.trend {
    background-color: #fff;
}


tr.trend td, td.info-td {
    padding:0 !important;
}

tr.info, tr.components {
    background-color: transparent;
    border: 1px solid #bdbdbd;
}

tr.trend {
    border: 1px solid #bdbdbd;
        border-top: 2px solid transparent;
}
#new_cdi table tbody tr.info tr{
  display: table-row;
}

.info-wrapper, .trends-wrapper, .components-wrapper {
    overflow: hidden;
    transition: height 0.5s linear;
    height: 0;
    padding: 10px 10px 0px 20px;
   
   background-color: #fff;
   
    /*max-width: 650px;*/
}

.close-info, .close-components {
    position: relative;
    top: 18px;
}

.field-name-field-overall {
    max-width:650px;
}

.trends-wrapper {
    max-width: 100%;
    transition-duration: 0.75s;
}

.trends-wrapper.faster-collapse {
    transition-duration: 0.4s;
}



/*tr.trend > td {
 
    transition: opacity height 0.5s linear;
    
    opacity: 0;
}
*//*
table#home-cdi-indicator.CDI_AID tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_AID tr.components {
    background: rgba(158, 20, 46, .15);
}
table#home-cdi-indicator.CDI_INV tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_INV tr.components {
    background: rgba(215, 116, 56, .15);
}
table#home-cdi-indicator.CDI_TEC tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_TEC tr.components {
    background: rgba(245, 193, 68, .15);
}
table#home-cdi-indicator.CDI_ENV tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_ENV tr.components {
    background: rgba(65, 185, 118, .15);
}
table#home-cdi-indicator.CDI_TRA tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_TRA tr.components {
    background: rgba(33, 53, 139, .15);
}
table#home-cdi-indicator.CDI_SEC tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_SEC tr.components {
    background: rgba(23, 146, 197, .15);
}
table#home-cdi-indicator.CDI_MIG tr.active td:nth-child(2),
table#home-cdi-indicator.CDI_MIG tr.components {
    background: rgba(136, 80, 172, .15);
}
table#home-cdi-indicator tr.components {
  border-bottom: 1px solid #DDD;
}*/
.chart-holder {
  
  height: 20px;
  background: #DFDFDB;
  margin-bottom: 20px;
  top: 2px;
  position: relative;
}

.unstacked .chart-holder {
    background-color: transparent;
}

.zero-mark {
    position: absolute;
    width: 1px;
    height: 44px;
    top: -10px;
    opacity: 0;
    transition: height 0.5s linear, top 0.5s linear;
    background-color: #DFDFDB;
}

.unstacked .zero-mark {
    opacity: 1;
}



div.chart-holder > div.transition {
    transition: width 0.8s ease-out, left 0.2s linear;
}

.initial-load {
    width:0% !important;
}

.chart-holder div:not(.tooltip) > .value {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
    position: absolute;
    right: 10px;
}
.chart-holder div.indicator {
    position: absolute;
    font-size: 10px;
    bottom: -21px;
    left: 0;
}

.chart-holder div.indicator span {
    position: relative;
}

.chart-holder div.indicator.min span {
    right:50%;
}

.chart-holder div.indicator.max span {
    left: 50%;
}
/*.chart-holder div.indicator.min {
	    margin-left: -2px;
}*/
.chart-holder div.indicator.max {
    right: 0;
    float: none;
    left: initial;
   
}
.chart-holder div.indicator.zero {
        margin-left: -2px;
}
/*.indicator-description {
    text-transform: none;
    color: #000;
    font-weight: 100;
    text-align: left;
    padding: 20px 0;
    display: none;
}*/

#indicator-description-wrapper {
    
    opacity: 0;
    transition: opacity 0.5s linear;
    padding-top: 55px;
    width: 99%;
    width: -webkit-calc(100% - 8px);
    width:         calc(100% - 8px);
    margin-left: auto;
    margin-right: auto;
        
        
}

#indicator-description-wrapper.idw-processed {
    opacity: 1;
    
}

#indicator-description-wrapper.home {
  padding-top: 0;   
}

#indicator-explanation {
    margin-top: 20px;
    
}

.indicator-description h3 {
    font-family: Lato, Verdana, Arial, sans-serif;
}
.tie-notation {
    color: #888;
    text-align: left;
    position: absolute;
    top: 0;
    left: 7px;
    width: 100%;
    margin-top: -10px;
    font-size: 12px;
}

.master-row {
    cursor: pointer;
}

.master-row:hover {
    background-color: #fff !important;
}

td.spacer {
    width:15px;
}
.twitter-td, .facebook-td {
    width: 30px;
   
}
.twitter-td a, .facebook-td a {
 width: 20px;
 height: 20px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.facebook-td a {
    background: url('../images/facebook.svg') no-repeat ;
    background-size: contain;
    
}

.twitter-td a {
    background: url('../images/twitter.svg') no-repeat ;
    background-size: contain;
    
}

.twitter-td a:hover, .twitter-td a:focus {
    background-image: url('../images/twitter-hover.svg')
}

.facebook-td a:hover, .facebook-td a:focus {
    background-image: url('../images/facebook-hover.svg')
}

#new_cdi table tr.master-row td {
  text-align: center;
    position: relative;
}

#home-cdi tr.master-row td:first-child, #new_cdi table tr.master-row td:nth-child(3) {
    text-align: left;
    padding-left: 20px;
}

#new_cdi table tr.master-row td:nth-child(3), #home-cdi-indicator tr.master-row td:nth-child(3) {
    width: 69px;
    padding-left: 30px;
   
}

#new_cdi table tr.master-row td:nth-child(3) div {
     overflow-y: hidden;
    height:20px;
    position: relative;
}
#new_cdi table tr.master-row a.show-info,
#home-cdi-indicator .indicator-label a.indicator-info,
.bar-charts .indicator-label a.indicator-info {
  background: url(../images/info.png) center center no-repeat;
}
#new_cdi table tr.master-row a.show-trend {
  background: url(../images/trends.png) center center no-repeat;
}
#new_cdi table tr.master-row a.show-info,
#new_cdi table tr.master-row a.show-trend,
#home-cdi-indicator .indicator-label a.indicator-info,
.bar-charts .indicator-label a.indicator-info {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
}
#new_cdi table tr.master-row a.show-trend.active {
  background: none;
}
#new_cdi table tr.master-row a.show-trend.active:after {
  content: "X";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color: #006B77;
  text-indent: 0;
}
#new_cdi table tr.master-row .chart-holder {
  margin: 0;
    
}
#new_cdi table#home-cdi-indicator tr.components .chart-holder {
  margin: 0 auto 20px;
    width:98%;
}
.chart-holder div.bar-segment {
  float: left;
  height: 20px;
  position: relative;
  max-width: 100%;
}
.chart-holder div .tooltip {
  display: none;
  position: absolute;
  height: 30px;
  bottom: 30px;
  border: 1px solid;
  border-radius: 5px;
  color: #706E69;
  font-size: 10px;
  overflow: visible;
  text-align: center;
  padding: 5px;
  max-width: none;
}
.chart-holder div .tooltip:after,
.chart-holder div .tooltip:before {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 40px;
  content: "";
}
.chart-holder div .tooltip:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
  left: 10px;
}
.chart-holder div .tooltip:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #00f;
  left: 9px;
}
.chart-holder div .tooltip .value {
  font-weight: bold;
  font-size: 12px;
}
#new_cdi table tr .chart-holder div:hover .tooltip {
  display: block;
}
#new_cdi table tr .chart-holder div.CDI_TEC-bg .tooltip {
  background: #F5EACF;
  border-color: #ECBA42;
}
#new_cdi table tr .chart-holder div.CDI_TEC-bg .tooltip:before {
  border-top-color: #ECBA42;
}
#new_cdi table tr .chart-holder div.CDI_TEC-bg .tooltip:after {
  border-top-color: #F5EACF;
}
#new_cdi table tr .chart-holder div.CDI_INV-bg .tooltip {
  background: #FFE8DA;
  border-color: #C85A18;
}
#new_cdi table tr .chart-holder div.CDI_INV-bg .tooltip:before {
  border-top-color: #C85A18;
}
#new_cdi table tr .chart-holder div.CDI_INV-bg .tooltip:after {
  border-top-color: #FFE8DA;
}
#new_cdi table tr .chart-holder div.CDI_AID-bg .tooltip {
  background: #FBE2E7;
  border-color: #9E1421;
}
#new_cdi table tr .chart-holder div.CDI_AID-bg .tooltip:before {
  border-top-color: #9E1421;
}
#new_cdi table tr .chart-holder div.CDI_AID-bg .tooltip:after {
  border-top-color: #FBE2E7;
}
#new_cdi table tr .chart-holder div.CDI_ENV-bg .tooltip {
  background: #E6FCF0;
  border-color: #41B976;
}
#new_cdi table tr .chart-holder div.CDI_ENV-bg .tooltip:before {
  border-top-color: #41B976;
}
#new_cdi table tr .chart-holder div.CDI_ENV-bg .tooltip:after {
  border-top-color: #E6FCF0;
}
#new_cdi table tr .chart-holder div.CDI_TRA-bg .tooltip {
  background: #DCF5FF;
  border-color: #1792C5;
}
#new_cdi table tr .chart-holder div.CDI_TRA-bg .tooltip:before {
  border-top-color: #1792C5;
}
#new_cdi table tr .chart-holder div.CDI_TRA-bg .tooltip:after {
  border-top-color: #DCF5FF;
}
#new_cdi table tr .chart-holder div.CDI_SEC-bg .tooltip {
  background: #E9EDFF;
  border-color: #21358B;
}
#new_cdi table tr .chart-holder div.CDI_SEC-bg .tooltip:before {
  border-top-color: #21358B;
}
#new_cdi table tr .chart-holder div.CDI_SEC-bg .tooltip:after {
  border-top-color: #E9EDFF;
}
#new_cdi table tr .chart-holder div.CDI_MIG-bg .tooltip {
  background: #F6E8FF;
  border-color: #8850AC;
}
#new_cdi table tr .chart-holder div.CDI_MIG-bg .tooltip:before {
  border-top-color: #8850AC;
}
#new_cdi table tr .chart-holder div.CDI_MIG-bg .tooltip:after {
  border-top-color: #F6E8FF;
}
.mainNav {
  margin: 0 0 20px 0;
  width:100%;
  display:inline-block;
    max-width: 976px;
    position: relative;
    transition: height 0.5s linear;
}

.mainNav.closed {
    height: 0 !important;
}

.mainNav.closed .weight-toggle div, .mainNav.closed .weight-toggle span {
    display: none;
}

.flexbox .mainNav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 53px;
}

.mainNav.stick-to-top {
    position: fixed;
    top: 49px;
    z-index: 999;
    
        
}

.mainNav.stick-to-top .weight-toggle {
    box-shadow: rgba(0,0,0,0.6) 10px 10px 10px;
}
/*.mainNav ul {
  list-style: none;
}
.mainNav li {
  display: inline-block;
}
.mainNav li a {
  display: block;
  padding: 10px 31px;
  border-bottom: none;
  color: #FFFFFF;
}
.mainNav li a:hover, .mainNav li a:visited, .mainNav li a:active, .mainNav li a:focus{
  text-decoration:none;
}
.mainNav li:last-child a {
  padding: 10px 36px;
}*/
.CDI-bg {
  background: #574D40;
}


.CDI_TEC-bg, 
*[class^="TEC_"][class*="-bg"] {
  background: #F5C144;
}

.CDI_TEC-bg.weighted-override {
    background: #F5C144 !important;
}

.CDI_TEC-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #f8db93,
  #f8db93 5px,
  #F5C144 5px,
  #F5C144 10px
);
}
.CDI_INV-bg,
*[class^="INV_"][class*="-bg"] {
  background: #D77438;
}

.CDI_INV-bg.weighted-override {
    background: #D77438 !important;
}

.CDI_INV-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #db986f,
  #db986f 5px,
  #D77438 5px,
  #D77438 10px
);
}
.CDI_AID-bg,
*[class^="AID_"][class*="-bg"] {
  background: #9E142E
}

.CDI_AID-bg.weighted-override {
    background: #9E142E !important;
}
.CDI_AID-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #af5c6b,
  #af5c6b 5px,
  #9E142E 5px,
  #9E142E 10px
);
}
.CDI_ENV-bg,
*[class^="ENV_"][class*="-bg"] {
  background: #41B976;
}

.CDI_ENV-bg.weighted-override {
    background: #41B976 !important;
}
.CDI_ENV-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #92ceac,
  #92ceac 5px,
  #41B976 5px,
  #41B976 10px
);
}
.CDI_TRA-bg,
*[class^="TRA_"][class*="-bg"] {
  background: #21358B;
}

.CDI_TRA-bg.weighted-override {
    background: #21358B !important;
}

.CDI_TRA-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #596ab2,
  #596ab2 5px,
  #21358B 5px,
  #21358B 10px
);
}
.CDI_SEC-bg,
*[class^="SEC_"][class*="-bg"] {
  background: #1792C5;
}
.CDI_SEC-bg.weighted-override {
    background: #1792C5 !important;
}
.CDI_SEC-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #84cae6,
  #84cae6 5px,
  #1792C5 5px,
  #1792C5 10px
);
}
.CDI_MIG-bg,
*[class^="MIG_"][class*="-bg"] {
  background: #8850AC;
}

.CDI_MIG-bg.weighted-override {
    background: #8850AC !important;
}

.CDI_MIG-bg.weighted {
background: repeating-linear-gradient(
  45deg,
  #b390c9,
  #b390c9 5px,
  #8850AC 5px,
  #8850AC 10px
);
}

/*
.mainNav div.CDI-bg.active {
  box-shadow: 0 -10px 0 #574D40;
}
.mainNav div.CDI_TEC-bg.active {
  box-shadow: 0 -10px 0 #F5C144;
}
.mainNav div.CDI_INV-bg.active {
  box-shadow: 0 -10px 0 #D77438;
}
.mainNav div.CDI_AID-bg.active {
  box-shadow: 0 -10px 0 #9E142E
}
.mainNav div.CDI_ENV-bg.active {
  box-shadow: 0 -10px 0 #41B976;
}
.mainNav div.CDI_TRA-bg.active {
  box-shadow: 0 -10px 0 #21358B;
}
.mainNav div.CDI_SEC-bg.active {
  box-shadow: 0 -10px 0 #1792C5;
}
.mainNav div.CDI_MIG-bg.active {
  box-shadow: 0 -10px 0 #8850AC;
}
*/

.show-components {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
}
.show-components:before,
.show-components:after {
  height: 8px;
  width: 3px;
  background: #006B77;
  position: absolute;
  content: "";
  top: 6px;
}
#overall-explanation {
    padding: 20px 0;
}
.show-components:before {
  left: 7px;
  transform:rotate(-45deg);  
}
.show-components:after {
  right: 6px;
  transform:rotate(45deg);
}
.show-components.active:before,
.show-components.active:after {
  top: 5px;
}
.show-components.active:before {
  transform:rotate(45deg);
}
.show-components.active:after {
  transform:rotate(-45deg);
}
.line-chart-wrapper {
  width: 285px;
  float: left;
  box-sizing: border-box;
  margin-right: 28px;
  margin-bottom: 3px;
 
  
}
.line-chart-wrapper .indicator-value {
  float: right;
}
.line-chart-wrapper.CDI {
 /*   background: #817c76; */
}
canvas {
  width: 100%;
  height: 180px;
  margin-right: 10px;
  float: left;
}
a.compare {
  display: none;
}
.cdi-link {
  text-align: center;
}

/*.trend .year-results {
    clear:left;
        position: relative;
    bottom: 20px;

}*/

.year-results a, .cdi-link a, a.load-trends, .next-button {
      display: inline-block;
    background: #fff;
    color: #296976;
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 10px;
   
    border: 1px solid #296976;
    
    
    
}

.next-button {
    margin: 25px auto;
    
    text-transform: uppercase;
    
    
   
    transition: opacity 0.5s linear;
}

.home .next-button {
        margin-top: 0;
    margin-left: 50px;

}


.info-td .year-results, .components .year-results {
  /*  float:left;*/
}

a.load-trends {
    float:left;
    margin-right: 15px;
    background: url('../images/trends.png') no-repeat 7px center;
    background-size: 20px;
    padding-left: 30px;
    width:88px;

}

a.load-trends.fading {
    color:#fff;
}

.year-results a {
    margin-right: 15px;
    background: url('../images/external-link.png') no-repeat 7px center !important;
    float: left;
    padding-left: 30px;
    
}

.cdi-link a:visited,
.cdi-link a:link {
  color: #FFF;
}
/* #home-cdi .trend .year-results a {
  margin-top: 70px;
  margin-left: 50px;
}*/
.indicator-label {
  font-weight: bold;
}
#home-cdi-indicator .indicator-label {
  margin-top: 50px;
  max-width: 360px;
  position: relative;
  margin-bottom: 10px;
}
#home-cdi-indicator .indicator-label:first-child {
  margin-top: 20px;
}
#home-cdi-indicator .indicator-label a.indicator-info {
     bottom: 5px;
    cursor: pointer;
    right: 4px;

}
.bar-charts .indicator-label a.indicator-info {
  display: inline-block;
  margin-right: 10px;
}
.indicator-label.category {
  text-transform: uppercase;
    margin-bottom: -20px;
}
.indicator-label.category.CDI,
.line-chart-header.CDI {
  color: #574D40;
}
.indicator-label.category.CDI_AID,
.line-chart-header.CDI_AID {
  color: #9E142E;
}
.indicator-label.category.CDI_INV,
.line-chart-header.CDI_INV {
  color: #D77438;
}
.indicator-label.category.CDI_TEC,
.line-chart-header.CDI_TEC {
  color: #F5C144;
}
.indicator-label.category.CDI_ENV,
.line-chart-header.CDI_ENV {
  color: #41B976;
}
.indicator-label.category.CDI_TRA,
.line-chart-header.CDI_TRA {
  color: #21358B;
}
.indicator-label.category.CDI_SEC,
.line-chart-header.CDI_SEC {
  color: #1792C5;
}
.indicator-label.category.CDI_MIG,
.line-chart-header.CDI_MIG {
  color: #8850AC;
}
.countries {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.country-wrapper {
  max-width:980px;
  margin: 0 auto;
}
.country-title {
  background: #666 center center url(../images/home-hero.png);
  background-size: cover;
}
.country-title h2 {
  margin: 0 auto;
  max-width: 980px;
  padding: 40px 0;
  color: #FFF;
  box-sizing: border-box;
  font-size: 36px;
}
.comparison .country-title h2 {
  padding: 40px;
}
.country-details {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 10px;
}
.country-details .indicator-title {
  border-bottom: 1px solid #CCC;
}
.country-details .indicator-title h3 {
  display: inline-block;
  color: #FFF;
  padding: 10px 15px;
  margin-top: 20px;
}
.country-details .indicator-title .indicator-rank {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
}
.country-details canvas {
  margin: 20px auto;
  max-width: 100%;
  float: none;
}
.country-details .right-side .average{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.country-details .right-side .bar-charts .indicator-label.category {
  border-top: 1px solid #CCC;
  padding: 10px 0;
}
.country-details .left-side,
.country-details .right-side {
  box-sizing: border-box;
  width: 50%;
  padding:10px;
  float: left;
}
.comparison .country-details .left-side,
.comparison .country-details .right-side {
  width: 100%;
}
.country-comparison .country-info {
  width: 50%;
  float: left;
}
.country-comparison .country-info.country-title {
  padding: 10px;
  box-sizing: border-box;
}
.country-comparison .country-info.country-title:first-child {
  border-right: 1px solid #FFF;
}
.more-info {
  text-align: center;
  background: #ffbb36;
  padding: 20px;
}
.more-info a {
  background: url(/sites/all/themes/f1ux/images/plus-sign.png) no-repeat 95% 50%;
  text-transform: uppercase;
  padding-right: 40px;
  font-size: 24px;
}
.social {
  position: fixed;
  width: 30px;
  right: 0;
  top: 270px;
  background: #296976;
  padding: 10px;
}
.social a {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/social.png) no-repeat center center;
  background-size: cover;
  margin: 10px auto;
  text-indent: -9999em;
}
.social a.facebook {
  background-position: 0 0;
}
.social a.twitter {
  background-position: 0 -45px;
}
.social a.email {
  background-position: 0 -85px;
}
.cdi-footer-wrapper {
  background: #dad7cc;
}
.cdi-footer-wrapper .cdi-footer {
  max-width: 980px;
  margin: 0 auto;
}
.cdi-footer .footer-block.brief {
  border-left: 1px solid #FFF;
}
.cdi-footer .footer-block {
  width: 25%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 30px;
  overflow:hidden;
}
.cdi-footer .footer-block .cdi-icon {
  width: 36px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.cdi-footer .footer-block.brief .cdi-icon {
  background-image: url(../images/brief.png);
}
.cdi-footer .footer-block.postcard .cdi-icon {
  background-image: url(../images/postcard.png);
}
.cdi-footer .footer-block.video .cdi-icon {
  background-image: url(../images/video.png);
}
.cdi-footer .footer-block.membership .cdi-icon {
  background-image: url(../images/membership.png);
}
.cdi-footer .footer-block .title {
  text-transform: uppercase;
  color: #006b77;
  font-size: 24px;
}
.cdi-footer .footer-block .description {
  text-transform: uppercase;
  height: 50px;
}
.cdi-footer .footer-block .cdi-footer-link {
  display: block;
  width: 30px;
  height: 30px;
  background: #006b77;
  color: #FFF;
  border-radius: 15px;
  position: relative;
}
.cdi-footer .footer-block .cdi-footer-link:before,
.cdi-footer .footer-block .cdi-footer-link:after {
  height: 12px;
  width: 3px;
  background: #FFF;
  position: absolute;
  content: "";
  left: 15px;
}
.cdi-footer .footer-block .cdi-footer-link:before {
  top: 5px;
  transform:rotate(-45deg);
}
.cdi-footer .footer-block .cdi-footer-link:after {
  top: 12px;
  transform:rotate(45deg);
}
/* SORTING COLUMNS STYLE*/
a.sorting:hover,  a.sorting:active,  a.sorting:focus, a.sorting:visited {
    color: #006b77 !important;
    text-decoration: none !important;
}
.sorting:after {
    content: "↓";
        margin-left:2px;
    /*width: 7px;
    height: 7px;
    border-left: 2px solid #006b77;
    border-bottom: 2px solid #006b77;
    display: inline-block;
-ms-transform: rotate(-45deg) translate(-1px,-5px);
    -webkit-transform: rotate(-45deg) translate(-1px,-5px);    
transform: rotate(-45deg) translate(-1px,-5px);
    margin-left: 10px;
    margin-top: -4px;*/
}
.sorting.asc:after {
	content: "↑";
}
span.country-label {
	color: #006b77;
}
.cdi-modal {
  width: auto;
  max-width: 500px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  position: absolute;
  display: none;
    Z-INDEX: 999;
}
.cdi-modal .cdi-modal-header,
.cdi-modal .cdi-modal-content,
.cdi-modal .cdi-modal-footer {
  box-sizing: border-box;
  padding: 20px;
}
.cdi-modal .cdi-modal-header,
.cdi-modal .cdi-modal-content {
  border-bottom: 1px solid #CCC;
}
.cdi-modal .cdi-modal-footer {
  text-align: right;
}
.cdi-modal .cdi-modal-footer a.cdi-modal-button {
  display: inline-block;
  color: rgba(49, 45, 58, 0.8);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  line-height: 1em;
  padding: 10px 14px;
  border-radius: 3px;
  background: #fcfcfc;
  background-image: -o-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -moz-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -webkit-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -ms-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    .chart-holder, .chart-holder div.bar-segment {
        height: 15px;
    }
        .chart-holder {
        top: 5px;
    
    }
    
    .cdi-footer .footer-block {
     width: 50%;   
    }
    
    .chart-holder div:not(.tooltip) > .value {
        bottom:-3px;
    }

}
@media screen and (max-width: 820px) {
    .country-details .left-side,
    .country-details .right-side {
        width: 100%;
    }
   /* .zero-mark{
        height: 26px;
        top: -5px;
    }*/
}

@media screen and (max-width: 1019px) {
    .mainNav.stick-to-top {
     
        top: 44px;
    
    }
    

        .reset-weight {

            width: 80px;
            text-align: right;
            right: 10px;
            left:auto;
    }
    
    .reset-weight a {
        position: relative;
        right: 10px;
    }
    .weights-instruct {
        width: auto;
        right: 7px; 
    }
    
    .flexbox .mainNav {
        height:66px;
    }
    
    .weight-toggle {
    
    width:23.75%;
    height: 33px;
    text-align: left;
    padding: 0 0.25% 0 1%;
        
    }
    
    
    
    .weight-toggle .slider {
        margin-right: 10px;
        top: 11px;
    }
    
    .weight-toggle span {
        font-size:14px;
    }
}

@media screen and (max-width: 799px) {
    
     .weight-toggle {
         width:48.75%
    }
    
    .flexbox .mainNav {
        height:132px;
    }
    
   
}
@media screen and (max-width: 739px) {
    
    #site-logo {
        height: 36px !important;
        background-size: contain !important;
        position: absolute;
        bottom: 5px;
        left: 110px;
        background-image: url(http://www.cgdev.org/sites/default/files/archive/layout/CGD_logo-knockout-3.png) !important;
     
    
}
    #zone-branding {
        padding:0 !important;
    }
    #zone-menu-wrapper {
        border-width: 0 !important;
    }
    #block-menu-menu-contribute {
        display: none;  
    }
    
    .cdi-header-wrapper {
        padding: 4% 0;
    }
    
    .cdi-header-wrapper h1 {
        max-width: 100%;
        font-size: 36px;
    }
    
    .chart-holder, .chart-holder div.bar-segment {
        height: 10px;
    }
    
   .zero-mark {
        height: 35px;
        top: -12px;
    }
    

    .chart-holder {
        top: 7px;
    }
    .mainNav.stick-to-top {
    
        top: 0px;
    
    }
    
    #new_cdi #home-cdi {
        width: 99%;
        margin-left: 4px;
        width: -webkit-calc(100% - 8px);
        width: calc(100% - 8px);
    }
    
      #home-cdi-indicator, #home-cdi {
        float: none;
       /* width: 100% !important;
          min-width: 100%;*/
    }
    
    #home-cdi-indicator {
        width:99%;
        width: -webkit-calc(100% - 8px);
        width:         calc(100% - 8px);
        min-width: 0;
    }
    
    #indicator-description-wrapper {
        margin-top: 20px;
        padding-top: 0;
    }
    
    .social {
        
        position: inherit;
        width: 109px;
        height: 36px;
        
    }
    
    .social a {
        float: left;
        margin: 5px;
        position: relative;
    }
    
    .social a.facebook {
        
        bottom: 2px;
    }
    
    .social a.twitter {
        left: -3px;
    }
    
        .chart-holder div:not(.tooltip) > .value {
        bottom:8px;
        right: -8px;
        color: #000;
    }
}

@media screen and (max-width: 515px) {
    #home-cdi .master-row td:nth-child(4){
        width: 63%;
    }
    
    .zero-mark {
    height: 24px !important;
    top: -9px;
    }
    
     .cdi-footer .footer-block {
     width: 100%;   
    }
    
}

@media screen and (max-width: 410px) {
    
    #home-cdi .master-row td:nth-child(4){
        width: 53%;
    }
    
   
    .year-results a {
        float:none;
    }

    
    .weight-toggle {
        width: 100%;
    }
    
    .close-info {
        top: 9px;
    }
    
    .flexbox .mainNav {
        height: 264px;
    }
}

@media screen and (max-width: 600px) {
    
    #home-cdi, #home-cdi-indicator {
        
        table-layout: fixed;
    }
    
    #close-mainNav {
        display: block;
    }
    
    .info-wrapper, .trends-wrapper, .components-wrapper {
        padding: 10px 5px 0 15px;
    }
    
  /*  #unstack-td span {
        position: absolute;
        top: -5px;
        width: 54px;
        left: -6px;
    }*/
    
    .twitter-td, .facebook-td {
        width: 4px;
    }
    
  
    
    .zero-mark {
        height: 40px;
    }

    .chart-holder div:not(.tooltip) > .value {
        bottom:8px;
        right: -8px;
        color: #000;
    }
    
    #home_cdi tr.master-row td:first-child, #new_cdi table tr.master-row td:nth-child(3) {
        text-align: left;
        padding-left: 10px;
    }
    /*#home-cdi, #home-cdi-indicator, #unstack-td span {
        font-size:12px;
    }*/
    
    #home-cdi thead tr td:nth-child(4),  #home-cdi-indicator thead tr td:nth-child(4){
        visibility: hidden;
    }
    
    #home-cdi .master-row td:nth-child(4), #home-cdi-indicator .master-row td:nth-child(4){
       
        position: absolute;
        width: 70%;
        width: -webkit-calc(100% - 137px);
        width:         calc(100% - 137px);
        max-width: 439px;
        left: 72px;
    }
    

    
    #home-cdi-indicator tr.master-row td:first-child {
        padding-left: 35px;
    }
    
    .master-row .chart-holder {
  
        position: absolute;
        height: 10px;
        width: 100%;
        top: 39px;
    }
    
    #new_cdi table tr.master-row td{
            padding: 10px 0 25px;
    }
    
    #home-cdi tr td:nth-child(2), #home-cdi-indicator tr td:nth-child(2) {
     text-align: left !important;
    }
    
    
    
/*    #home-cdi-indicator tr.master-row td:first-child {
    padding-left: 31px !important;
        width:24px !important;
    }*/
    
    
    tr.master-row td:first-child::before {
      
        left: 5px;
        top: 27px;

    }
    
    .new-rank {
        left:5px;
    }
    
    .original-rank {
        left:15px;
    }
    
    #home-cdi tr td:first-child {
   /*     width: 36px;*/
    }
    
 /*    #home-cdi-indicator tr td:first-child {
      width: 40px;    
    }*/
    
    .change-score td:nth-child(3)::before {
        left: 2px !important;
            top: 8px !important;
    }
    
    td.spacer {
        width: 7px;
    }
    
    .original-score {
        left: 23px;
        position: absolute;
        
    }
    
    #home-cdi thead tr td:nth-child(3), #home-cdi-indicator thead tr td:nth-child(3)  {
   width: 71px;
        
    }
    
    #unstack-td, .indicator-unstack {
        width: 53px;
    
        position: relative;
        right:20px;
    
    }
    
    
    .twitter-td a, .facebook-td a {
        top: 24px;
    }
    
    #new_cdi table tr.master-row td:nth-child(3) {
        width: 41px;
    }

    a.load-trends {
        width: 78px;
        font-size: 14px;
        background-size: 15px;
        padding-left: 23px;
        margin-right: 10px;
    }
    
    .year-results a {
        font-size: 14px;
        background-size: 14px !important;
        margin-right: 10px;
        padding-left: 25px;
    }
    
    .close-info {
        font-size: 13px;
    }
}