#html5_wrapper {
    font-family: Arial;
    font-size: 12px;
    color: #333333;
}

/*body {
    padding-top: 9px;
}*/

#html5_wrapper .app {
    border-bottom: 2px solid black;
    position: relative;
    width: 900px;
    height: 610px;
	padding-bottom: 28px;
	margin-bottom: 16px;
}

#html5_wrapper .tab-view {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #BCBBBB;
    margin-bottom: 4px;
}

#html5_wrapper .tab-button {
    display: inline-block;
    line-height: 24px;
    padding: 1px 20px 0 10px;
    cursor: pointer;
    border: 1px solid #BCBBBB;
    font-weight: bold;
    color: #035781;
    background-color: #FFF;
    position: relative;
    margin-left: -1px;
}

#html5_wrapper .tab-button:first-child {
    margin-left: 0;
}

#html5_wrapper .tab-button-swatch {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

#html5_wrapper .tab-button-label {
    display: inline-block;
}

#html5_wrapper .tab-button:hover,
#html5_wrapper .tab-button-selected {
    color: #FFF;
}

#html5_wrapper .tab-button:hover > .tab-button-swatch,
#html5_wrapper .tab-button-selected > .tab-button-swatch {
    background-color: #FFF !important;
}

#html5_wrapper .tab-button-cutoff {
    width: 10px;
    height: 10px;
    background: url('../images/tab-cutoff.png');
    position: absolute;
    top: -1px;
    right: -1px;
}

#html5_wrapper .menu {
    display: table;
    border-spacing: 5px;
}

#html5_wrapper .menu-container {
    border-top: 1px solid black;
    display: table-cell;
}

#html5_wrapper .view-container {
    width: 100%;
    border-spacing: 0;
}

#html5_wrapper .geo-chart-view {
    width: 100%;
    min-width: 250px;
    vertical-align: top;
    padding: 20px 5px 5px 5px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#html5_wrapper .geo-chart-view > #score_component {
    top-margin: 2px;
    text-align: right;
}

#html5_wrapper .subject-view {
    width: 185px;
    min-width: 185px;
    vertical-align: top;
}

#html5_wrapper .option-container {
    border-top: 2px solid black;
    background-color: #F5F5F5;
    height: 65px;
    margin-left: 3px;
    padding: 8px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#html5_wrapper td:first-child > .option-container {
    margin-left: 0;
}

#html5_wrapper .checkbox-button {
    cursor: pointer;
}

#html5_wrapper .checkbox-button > input,
#html5_wrapper .checkbox-button > label {
    margin: 0;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

#html5_wrapper input[type="checkbox"] {
    display: none;
}

#html5_wrapper .checkbox-button > label {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/form.png');
    background-repeat: no-repeat;
    background-position: 0 -20px;
    padding: 0 0 0 20px;
    height: 20px;
    line-height: 20px;
}

#html5_wrapper .checkbox-button:hover > label {
    background-position: 0 -60px;
}

#html5_wrapper input:checked + label {
    background-position: 0 0;
}

#html5_wrapper .checkbox-button:hover > input:checked + label {
    background-position: 0 -40px;
}

#html5_wrapper select {
    font-family: inherit;
    font-size: 11px;
}

#html5_wrapper .show-eu-button {
    position: absolute;
}

#html5_wrapper .sort-geochart-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#html5_wrapper .clear-indicator-button {
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    left: 5px;
    padding-left: 26px;
    background: url('../images/clear-indicator-button.png') left center no-repeat;
}

#html5_wrapper .display-options > .option-container {
    position: relative;
}

#html5_wrapper .language-menu, #html5_wrapper .region-menu {
    position: absolute;
    color: #666666;
    right: 8px;
}

#html5_wrapper .language-menu {
    top: 8px;
}

#html5_wrapper .region-menu {
    top: 40px;
}

#html5_wrapper .show-trends-button {
    position: absolute;
    bottom: 8px;
    left: 5px;
	top: 18px;
	font-weight: normal;
	font-size: 100%;
	width: 100%;
}

#html5_wrapper .trends-label {
    font-size: 10px;
    display: none;
}

#html5_wrapper .trends-legend-label {
    width: 144px;
    float: left;
}

#html5_wrapper .trends-legend-year {
    width: 40px;
    float: left;
    text-align: right;
    font-weight: bold;
}
#html5_wrapper .show-help-button, #html5_wrapper .show-help-button-active:hover {
    background-image: url('../images/help.png');
    bottom: 8px;
}
#html5_wrapper .play-movie-button, #html5_wrapper .play-movie-button-active:hover {
    background-image: url('../images/movie.png');
    bottom: 36px;
}
#html5_wrapper .show-help-button, #html5_wrapper .show-help-button-active:hover, #html5_wrapper .play-movie-button, #html5_wrapper .play-movie-button-active:hover {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    background-position: 0 0;
}

#html5_wrapper .show-help-button-active, #html5_wrapper .show-help-button:hover, #html5_wrapper .play-movie-button-active, #html5_wrapper .play-movie-button:hover {
    background-position: 0 -20px;
}

#html5_wrapper .play-movie-button-label {
    margin-right: 25px;
    margin-top: 1px;
    text-align: right;
}

#html5_wrapper .bar-chart-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

#html5_wrapper .bar-chart-item-label, #html5_wrapper .bar-chart-holder, #html5_wrapper .bar-chart-item-score {
    display: table-cell;
    vertical-align: middle;
}

#html5_wrapper .bar-chart-item-score {
    font-weight: bold;
}

#html5_wrapper .bar-chart-item-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#html5_wrapper .bar-chart-item-highlight > .bar-chart-item-label,
#html5_wrapper .bar-chart-item-selected > .bar-chart-item-label {
    font-weight: bold;
}

#html5_wrapper .bar-chart-holder {
    /*width: 100px;*/
}

#html5_wrapper .bar-chart-holder-bg {
    width: 160px;
    height: 20px;
    background-color: #E7E7E7;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    Xoverflow: hidden;
}

#html5_wrapper .bar-chart-item-bar {
    height: 20px;
    width: 0;
    float: left;
}

#html5_wrapper .bar-chart-item-score {
    width: 40px;
    text-align: right;
}

#html5_wrapper .subject-view {
    padding-left: 5px;
    vertical-align: top;
}

#html5_wrapper .subject-highlight-view {
    height: 50px;
    width: 184px;
    display: block;
    position: relative;
    padding-bottom: 5px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#html5_wrapper .subject-highlight-label {
    font-weight: bold;
    color: #666666;
    position: absolute;
    bottom: 10px;
    left: 0;
}

#html5_wrapper .subject-highlight-canvas, #html5_wrapper .subject-highlight-eu {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 80px;
    height: 35px;
}
#html5_wrapper .subject-highlight-eu {
    background-image: url('../images/eu.png');
    background-repeat: no-repeat;
    width: 25px;
}

#html5_wrapper .subject-chart-view > .bar-chart-item {
    display: block;
    height: 38px;
    margin-bottom: 5px;
    position: relative;
}

#html5_wrapper .subject-chart-view .bar-chart-item-label {
    display: inline-block;
    overflow: hidden;
    width: 144px;
    background-color: #E7E7E7;
    height: 20px;
    vertical-align: top;
    padding: 2px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#html5_wrapper .subject-chart-view .bar-chart-holder {
    background-color: #E7E7E7;
    width: 144px;
    vertical-align: top;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
}

#html5_wrapper .subject-chart-view .bar-chart-holder-bg {
    width: 144px;
    height: 18px;
}

#html5_wrapper .subject-chart-view .bar-chart-item-bar {
    display: block;
    float: left;
    clear: left;
    position: relative;
}

#html5_wrapper .subject-chart-view .bar-chart-item-score {
    height: 38px;
    line-height: 38px;
    display: inline-block;
}

#html5_wrapper .subject-chart-view > .bar-chart-item:last-child {
    margin-bottom: 0;
}

#html5_wrapper .show-trends > .bar-chart-item-label {
    display: none;
}

#html5_wrapper .show-trends > .bar-chart-holder {
    height: 38px;
    display: block;
    float: left;
    position: static;
}

#html5_wrapper .show-trends > .bar-chart-holder > .bar-chart-holder-bg {
    height: 38px;
}

#html5_wrapper .show-trends > .bar-chart-item-score {
    display: block;
    float: left;
}

#html5_wrapper .component-detail-view {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    background: none;
}

#html5_wrapper .component-detail-view > * {
    pointer-events: all;
}

#html5_wrapper .component-detail-button {
    line-height: 20px;
    height: 20px;
    width: 560px;
    color: white;
    cursor: pointer;
    pointer-events: all;
    background:
        url('../images/inspect-component.png') 10px center no-repeat,
        url('../images/tab-cutoff.png') right top no-repeat
    ;
    padding-left: 33px;
}

#html5_wrapper .component-detail-view-open > .component-detail-button {
    width: 100%;
    background:
        url('../images/close.png') 10px center no-repeat,
        url('../images/tab-cutoff.png') right top no-repeat
    ;
}

#html5_wrapper .component-breakdown-view {
    width: 645px;
    
    float: right;
    background-color: white;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 0 20px;
}

#html5_wrapper .indicator-label {
    font-weight: bold;
    line-height: 18px;
}

#html5_wrapper .indicator-desc {
    font-weight: normal;
    line-height: 18px;
    padding-right: 25px;
    overflow: hidden;
}

#html5_wrapper .indicator-expl {
    background-color: white;
    padding: 10px;
    -moz-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    -o-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    position: absolute;
    font-size: 13px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    width: 600px;
    margin-top: 10px;
    display: none;
}

#html5_wrapper .info-button {
    display: inline;
    line-height: 18px;
}

#html5_wrapper .info-button > div {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url('../images/info.png');
    background-position: 0 0;
    position: absolute;
    display: inline-block;
}

#html5_wrapper .info-button:hover > div {
    background-position: 0 -18px;
}

#html5_wrapper .component-chart-view {
    padding: 0 20px 0 0;
    pointer-events: all;
}

#html5_wrapper .component-geoitem-label,
#html5_wrapper .component-chart-holder,
#html5_wrapper .component-chart-axis,
#html5_wrapper .component-chart-average {
    float: right;
}

#html5_wrapper .component-geoitem-label {
    width: 140px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #666666;
}

#html5_wrapper .component-chart-holder {
    width: 100%;
}

#html5_wrapper .component-chart-holder > .bar-chart-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 2px 0;
}

#html5_wrapper .component-chart-holder > .bar-chart-item > .bar-chart-item-label {
    padding-left: 20px;
}

#html5_wrapper .component-chart-holder > .bar-chart-item-primary {
    padding: 4px 0 2px 0;
    border: none !important;
}

#html5_wrapper .component-chart-holder > .bar-chart-item-primary + .bar-chart-item {
    border-top: 1px solid #CCCCCC;
}
#html5_wrapper .component-chart-holder > .bar-chart-item-primary > .bar-chart-item-label {
    padding-left: 2px;
}
#html5_wrapper .component-chart-holder > .bar-chart-item > .bar-chart-holder,
#html5_wrapper .component-chart-holder > .bar-chart-item > .bar-chart-holder > .bar-chart-holder-bg {
    width: 125px;
}

#html5_wrapper .bar-chart-item-swatch {
    display: none;
    width: 6px;
}

#html5_wrapper .bar-chart-item-primary > .bar-chart-item-swatch {
    display: table-cell;
}

#html5_wrapper .component-chart-axis, .component-chart-average {
    width: 125px;
    color: #666666;
    height: 20px;
    position: relative;
    margin-right: 40px;
}
#html5_wrapper .component-chart-average {
    position: relative;
    clear: both;
    width: 100px;
    color: #666666;
    height: 20px;
    margin-right: 40px;
    text-align: center;
}

#html5_wrapper .component-axis-label {
    position: absolute;
    padding-top: 8px;
    top: 0;
    background: url('../images/axis-label-bg.png') center top no-repeat;
}

#html5_wrapper .map-view {
    vertical-align: top;
    padding-top: 30px;
}

#html5_wrapper .map-component {
    width: 100%;
    height: 320px;
}

#html5_wrapper .map-component-country-highlighted {
    cursor: pointer;
}

#html5_wrapper .map-average {
    margin-left: 25px;
    overflow: hidden;
    position: relative;
    width: 135px;
}
#html5_wrapper .map-average #low, #html5_wrapper .map-average #gradient, #html5_wrapper .map-average #high {
    position: relative;
    float: left;
}
#html5_wrapper .map-average #gradient {
    margin: 3px;
    width: 80px;
    height: 10px;
}
#html5_wrapper .map-average #subtitle {
    clear: both;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}

#html5_wrapper .help-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

#html5_wrapper .help-popup {
    background-color: white;
    padding: 5px;
    -moz-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    -o-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
    position: absolute;
    font-size: 11px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#html5_wrapper .help-popup-components {
    top: 34px;
    left: 100px;
    white-space: nowrap;
}

#html5_wrapper .help-popup-sort {
    top: 85px;
    left: 25px;
    width: 150px;
}

#html5_wrapper .help-popup-regional {
    width: 320px;
    top: 86px;
    left: 300px;
}

#html5_wrapper .help-popup-trends {
    width: 150px;
    top: 85px;
    right: 40px;
}

#html5_wrapper .help-popup-scores {
    width: 230px;
    top: 210px;
    left: 260px;
}

#html5_wrapper .help-popup-drilldown {
    width: 320px;
    bottom: 50px;
    left: 25px;
}

#html5_wrapper .help-popup-main-overview {
    width: 150px;
    top: 280px;
    right: 40px;
}

#html5_wrapper .help-popup-dd-overview {
    width: 230px;
    top: 250px;
    left: 20px;
}

#html5_wrapper .help-popup-indicators {
    width: 380px;
    top: 280px;
    left: 380px;
}

#html5_wrapper .tooltip {
    position: absolute;
    pointer-events: none;
}

#html5_wrapper .geo-chart-tooltip,
#html5_wrapper .subject-chart-tooltip {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 8px;
    font-size: 11px;
}

#html5_wrapper .map-tooltip {
    color: white;
    padding: 5px;
    width: 170px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#html5_wrapper .map-tooltip-country {
    font-weight: bold;
    float: left;
}

#html5_wrapper .map-tooltip-score {
    float: right;
}

#html5_wrapper .map-tooltip-help {
    float: left;
    clear: left;
    font-size: 11px;
    margin-top: 5px;
}

#html5_wrapper .tooltip-pointer {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent;
    border-right-color: black;
}

#html5_wrapper .component-chart-tooltip {
    padding: 6px;
    font-size: 11px;
    color: white;
    margin-bottom: 5px;
}

#html5_wrapper .component-chart-tooltip > .tooltip-pointer {
    left: 0;
    border-right-color: transparent;
    border-width: 6px 0 10px 6px;
    border-left-color: black;
}

#html5_wrapper .loading {
    position: relative;
    line-height: 562px;
    width: 900px;
    text-align: center;
    font-weight: bold;
}

#html5_wrapper .tab-button-CDI_AID.tab-button-selected, #html5_wrapper .tab-button-CDI_AID:hover {
  background-color: rgb(204, 51, 51);
}
#html5_wrapper .tab-button-CDI.tab-button-selected, #html5_wrapper .tab-button-CDI:hover {
background-color: rgb(78, 77, 77);
}
#html5_wrapper .tab-button-CDI_TRA.tab-button-selected, #html5_wrapper .tab-button-CDI_TRA:hover {
background-color: rgb(51, 102, 153);
}
#html5_wrapper .tab-button-CDI_INV.tab-button-selected, #html5_wrapper .tab-button-CDI_INV:hover {
background-color: rgb(255, 153, 51);
}
#html5_wrapper .tab-button-CDI_MIG.tab-button-selected, #html5_wrapper .tab-button-CDI_MIG:hover {
background-color: rgb(102, 51, 153);
}
#html5_wrapper .tab-button-CDI_ENV.tab-button-selected, #html5_wrapper .tab-button-CDI_ENV:hover {
background-color: rgb(153, 153, 51);
}
#html5_wrapper .tab-button-CDI_SEC.tab-button-selected, #html5_wrapper .tab-button-CDI_SEC:hover {
background-color: rgb(153, 51, 51);
}
#html5_wrapper .tab-button-CDI_TEC.tab-button-selected, #html5_wrapper .tab-button-CDI_TEC:hover {
background-color: rgb(255, 204, 51);
}
#html5_wrapper .display-options label {
display: inline;
}



div#div_new_title {
display: none;
}

#cdi_flash_cont select#region-menu {
display: none;
}
